.App-wrapper {
  display: flex;

  flex-grow: 1;
}

.App-left-sidebar {
  height: calc(100vh - 60px);
  width: 400px;
  min-width: 400px;
  max-width: 400px;

  background: #f5f6fa;

  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

.App-right-sidebar {
  flex-grow: 1;
}

.App-search-header {
  height: 30px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  font-family: "Open Sans";
}
.App-search-header span {
  font-size: 0.7rem;
  color: #44bd32;
  
}
.App-search-header button {
  padding: 5px 0;

  background: transparent;
  border: none;
  border-radius: 3px;

  font-size: 0.65rem;
  color: #999;

  cursor: pointer;
}

.App-surats {
  padding: 1rem;

  /* height: calc(100vh - 160px); */
  min-height: calc(100vh - 160px);

  flex-grow: 1;

  overflow-y: auto;
}
