@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu|Harmattan');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

* {
  outline: none !important;
}

body {
  margin: 0;
  padding: 0;

  /* font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

#root {
  display: flex;
  flex-direction: column;

  height: 100vh;

  overflow: hidden;
}

.sweet-loading {
  min-height: 100%;
  height: fill-available;
  height: -moz-available;
  height: -webkit-fill-avaiable;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centered {
  align-self: center;
}